@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/MyFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/MyFont-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
